@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   font-family: var(--font-arimo);
}

h1 {
   font-family: var(--font-amita);
}

h2, h3 {
   font-family: var(--font-ruqaa);
}

a {
   color: rgba(255, 0, 0, 0.627);
}

a:hover {
   text-decoration: underline;
   color: rgba(255, 0, 0);
}

dialog {
   scrollbar-width: none;
}

dialog::-webkit-scrollbar {
   width: 0.5em;
   height: 0.5em;
 }
 
dialog::-webkit-scrollbar-thumb {
   background-color: transparent;
 }